@import './modal.css';

html {
    height: 100%;
    font-size: 16px;
}

body{
    margin:0;
    height: 100%;
    min-height: 100%;
    font: normal 400 15px/24px 'Roboto', sans-serif;
    text-align: center;
    background-color: #d3d5d6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header {
    margin: 0;
    background-color: #fafaff;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.12));
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; 
    display: inline-block;
    max-width: 120px;
    border-radius: 25% 10%;
    background-color: #fffb00;
}

.todos__container{
    display: inline-block;
    border: 10px solid black;
    padding: 10px;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #fafaff;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.12));
}

.todo__content{
    display: flexbox;
    margin-bottom: 20px;
    background: aquamarine;
    max-height: 700px;
    width: 700px;
    border: 10px solid black;
    border-radius: 10px;
}

.username{
    display: inline-block;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    margin-right: 10px;

}
.username h3{
    padding-top: 25px;
}

.idForEdit {
    display: inline;
    width: 300px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.idForEdit h3{
    padding: 0;
}

.info{
   width:500px;
   display: inline-block;
   margin-right: 15px;

}

.title{
    display: inline-block;
    width: 100%;
    border-radius: 10px;
}

button{
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
    width: 400px;
}

button:hover {
    background-color:#002ead;
    transition: 0.7s;
}

.edit-button{
    align-self: center;
}

.delete-button{
    align-self: center;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.add-button-container{
    width: 100%;
}

.add-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.favor-content {
    background-color: #fffb00;
}

.favor-button {
    align-self: center;
}

.favor-container {
    background-color: yellow;
}
